# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.jnilib
*.o
*.class

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#misc
p2pclient/java/libp2pd.h
p2pclient/java/p2pd.h
